.error-text {
    color: red;
    font-size: 14px;
    width: 100%;

    font-style: italic;
}

.actives {
    background-color: #ddd;
}

.list-styled-item {
    .active {
        color: red !important;
    }
}
.product-detail #productSlider a {
    display: none;
}

.product-detail #productSlider a.active {
    display: block;
}

.product-detail .slider-thumbnail {
    display: flex;
    overflow: auto;
}

.product-detail .slider-thumbnail .active {
    border: 1px solid #ff6f61;
}

.product-option .option-value {
    margin-left: 15px;
}
@media screen and (max-width: 992px) {
    .googleStore {
        width: 100%;
        height: 350px;
    }
}
@media screen and (max-width: 667px) {
    .googleStore {
        width: 100%;
        height: 350px;
    }
}
